@import 'jeet'
@import 'util.styl'

rect.bordered
	stroke awesomeDarkPurple
	stroke-width 1px

text.mono
	font-size 9pt
	fontRegular()
	fill awesomeBrown

text.axis-workweek
	fill awesomeBrown

text.axis-worktime
	fill awesomeBrown
				