@import 'jeet'
@import 'util.styl'

.helper
	display inline-block
	height 100%
	vertical-align middle

.section_container
	height 100%
	center(50%)
	
.content_description
	height 70%	
.upspaceholder
	height 15%
.row 
	height 132px
.icon_section
	span(29/100)
	overflow hidden
	height 100%
.icon_section > img
	max-width 132px

.line_section
	span(1/10)
	text-align center
	height 100%
.line_section > img
	max-width 42px
	max-height 72px
	vertical-align middle
	text-align center	

.title_section
	span(61/100)
	height 100%
	overflow hidden
	position relative
	display table
	text-align center
.title_section > p
	display table-cell
	vertical-align middle
	fontRegular()
	font-size 1.2rem
	color awesomeDarkPurple	

.section_spaceholder
	height 8.22%	
						