@import 'jeet'
@import 'util.styl'

//edit()

body
	margin 0
	width 100%
	height 100%
	position absolute

// above the breakpoint

.container
	center(80%)
	height 100%
.upspaceholder
	height 6.25%

.supervisor 
	height 24%
	text-align center
.supervisor_img
	height 80%
	center(25%)
	
.supervisor_img > img
	max-width 130px

.description
	padding 0.5%
	height 20%
	center(20%)
	text-align center
	fontRegular()
	font-size 1.0rem
	color awesomeDarkPurple
	
#nameholder
	fontRegular()
	font-size 1.0rem
	color fancypink
.smallspaceholder
	height 1.25%

.function_section
	text-align right

.changecolor
	background-color fancypink !important
	border-radius 0.1rem

.client_section
	height 56.25%
	center(100%)
.row
	height 33.3%
.coloumI 
	span(1/4)
	background-color awesomeLightPurple
	height 100%
	text-align center
	position relative	
.coloumII
	span(1/4)
	background-color awesomeDarkPurple
	height 100%
.coloumIII
	span(1/4)
	background-color awesomeDarkPurpleII
	height 100%
.coloumIV
	span(1/4)
	background-color awesomeDarkPurpleIII
	height 100%

.userIMG
	span(1/2)
	overflow hidden
	height 100%
#profile_pic
	max-width 70px
	vertical-align middle
	text-align center	
.username
	span(1/2)
	height 100%
	overflow hidden
	position relative
	display table
.helper
	display inline-block
	height 100%
	vertical-align middle	
#nameplacement
	display table-cell
	vertical-align middle
	text-align center
	fontRegular()
	font-size 1.05rem
	color awesomeDarkBrown

//below the breakpoint


//mobile adaptation							
	
				
	
			
	
		
									