@import 'jeet'
@import 'util.styl'


.spaceHolder
  height 22%
.messageContainer
  center(60%)
.form-group
  fontRegular()
  color awesomeLightPurple

.alert.alert-danger
  fontRegular()
  padding 5px
  margin-bottom 10px
